! Find font names using this command: fc-list
! Regular screen font size.
urxvt.font:	xft:Inconsolata:pixelsize=20:antialias=true:hinting=true
st.font:	Inconsolata:size=14:antialias=true:hinting=true

URxvt.background: #f0f0f0
URxvt.foreground: black
st.background: #f0f0f0
st.foreground: #000000

st.borderpx: 0
st.termname: st-256color

URxvt.scrollBar: False

URxvt.perl-ext-common: default,matcher

! alt-u to trigger url matches
URxvt.keysym.M-u: matcher:select

! alt-c is another good key to use for something

! alt-s is usually a scrollback search. I do not like it. It interferes with my
! irssi bindings for one thing. This undoes that binding.
URxvt.keysym.M-s: builtin:

URxvt.scrollTtyOutput: False
URxvt.scrollWithBuffer: False
URxvt.scrollTtyKeypress: True

! no scrollbar
URxvt*scrollBar_right: false
! whether we draw a border
URxvt*borderLess: false

! transparency off
URxvt*inheritPixmap: false

URxvt*geometry: 80x24

Xft*dpi: 99
Xft*antialias: True
Xft*hinting: full
